.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  width: 40rem;
  min-height: 56rem;
  padding: 3.2rem 4rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  text-align: center;
}

.login-header {
  background: url("../../../public/typescriptlang-ar21.svg") no-repeat center;
  padding: 5rem 0;
  background-size: 8rem;
  width: 100%;
}

.login-copyright {
  line-height: 24px;
  font-size: 12px;
  color: #93999F;
  text-align: center;
}

.login-db-init {
  line-height: 24px;
  font-size: 12px;
  text-align: center;
}

.login-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom, right bottom;
  background-size: calc(((100vw - 40rem) / 2) - 3.2rem),
  calc(((100vw - 40rem) / 2) - 3.2rem), cover;
}

.login-btn {
  width: 100%;
}


